services:
    api:
        build: .
        init: true
        container_name: api
        secrets:
            - mailjet_api_key
            - mailjet_secret
            - jwt_private
            - jwt_public
            - postgres_worker_secret
            - postgres_readonly_secret
            - redis_secret
        networks:
            - site
        volumes:
            - ./home/logs:/logs
        ports:
            - "3028:3028"
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:3028"]
            interval: 10s
            timeout: 3s
            start_period: 30s
            retries: 3
        stop_grace_period: 15s

secrets:
    mailjet_api_key:
        file:  ./secrets/mailjet_api_key.txt
    mailjet_secret:
        file: ./secrets/mailjet_secret.txt
    jwt_private:
        file: ./secrets/jwt_private.txt
    jwt_public:
        file: ./secrets/jwt_public.txt
    postgres_worker_secret:
        file: ./secrets/postgres_worker_secret.txt
    postgres_readonly_secret:
        file: ./secrets/postgres_readonly_secret.txt
    redis_secret:
        file: ./secrets/redis_secret.txt

networks:
    site:
        external: true

